<script type="text/javascript">
    $(document).ready(function () {
            $('#select-status').val(<%= params['cohort'] %>)
    })
</script>

<div class="row no-print" style="margin-top: 35px;">

  <div class="span1">
    <b>Cohort</b>
  </div>
  <div class="span4">
    <select name="cohort" id="select-status">
      <option value="8" <% if params['cohort'] == '8' %> selected <% end %>>Cohort 8</option>
      <option value="9" <% if params['cohort'] == '9' %> selected <% end %>>Cohort 9</option>
      <option value="10" <% if params['cohort'] == '10' %> selected <% end %>>Cohort 10</option>

    </select>
  </div>
  <div class="span1">
    <b>Term</b>
  </div>
  <div class="span4">
    <select name="term" id="select-status">
      <option value="1">Term 1</option>
      <option value="2">Term 2 </option>
      <option value="3">Term 3</option>

    </select>
  </div>
  <div class="span2">
    <input class="btn btn-info" type="submit"/>
  </div>

</div>
<%if params['cohort'] == '0' || params['cohort'].blank?
  else
%>

    <div class="span1"><b>Cohort <%= params['cohort'] %></b> </div> <div class="span1"> <b>Term<%= params['term'] %></b></div>

    <div class="span1">
      <a href="/excel/export?cohort=<%= params['cohort'] %>&term=<%= params['term'] %>" class="btn btn-warning">Export Tool</a>
    </div>

<% end %>
