<link rel="stylesheet" href="/assets/blue/style.css" type="text/css" id="" media="print, projection, screen">
<!--<link rel="stylesheet" href="/assets/navpager.css" type="text/css">-->
<link rel="stylesheet" href="/assets/jquery.tablesorter.pager.css" type="text/css">

<script type="text/javascript" src="/assets/jquery-latest.js"></script>
<script type="text/javascript" src="/assets/jquery.tablesorter.js"></script>
<script type="text/javascript" src="/assets/jquery.tablesorter.pager.js"></script>
<script type="text/javascript" id="js">$(document).ready(function() {
    // call the tablesorter plugin
    $("table").tablesorter({
        // change the multi sort key from the default shift to alt button
        sortMultiSortKey: 'altKey'
    });
});
</script>
<script type="text/javascript">
    $(function() {
        $("table")

                .tablesorterPager({container: $("#pager")});
    });
</script>
<div id="applicant-detail">
  <table class="tablesorter" id="TheTable">
    <thead>
    <th>Student Number</th>
    <th>Name </th>
    <!--<th>Cohort</th>-->
    <% if params['term'] == '2' %>
    <th>T1 GPA</th>
    <th>T1 Fail</th>
    <% end %>
    <th>LT</th>
    <th>GPA </th>
    <th>Rank </th>
    <th>Fail </th>
    <th>Scholar </th>
    </thead>
    <% @applicants.each do |applicant| %>
        <% if applicant.present? %>
            <tr>
              <td><%= applicant.number %></td>
              <td><%=  link_to applicant.name, applicant,:target => 'new'     %></td>
              <!--<td><%= applicant.cohort %></td>-->
              <% if params['term'] == '2' %>

                  <td> <%= Student.where(name: applicant.name , cohort: applicant.cohort ,term: '1' ).last.try(:gpa) %></td>
                  <td> <%= Student.where(name: applicant.name , cohort: applicant.cohort ,term: '1' ).last.try(:fail) %></td>
              <% end  %>
              <td><%= applicant.learning_team %></td>


              <td><%= applicant.gpa %></td>
              <td><%= applicant.rank %></td>
              <td><%= applicant.fail %></td>
              <td><%= applicant.scholar %></td>

            </tr>
        <% end %>
    <% end %>
  </table>
  <div id="pager" class="pager" style="padding-top: 30px; margin-left: 30%; " >
    <form>
      <img src="/assets/addons/first.png" class="first">
      <img src="/assets/addons/prev.png" class="prev">
      <input type="text" class="pagedisplay">
      <img src="/assets/addons/next.png" class="next">
      <img src="/assets/addons/last.png" class="last">
      <select class="pagesize" style="width: 80px;">
        <option selected="selected" value="10">10</option>
        <option value="15">15</option>
        <!--<option value="30">30</option>-->
        <!--<option value="40">40</option>-->
      </select>
    </form>

  </div>
</div>