<%= javascript_include_tag 'table2CSV' %>

<script>
    $(document).ready(function () {
//        $('#page-title').text('Application Registry');
        $('#table').each(function () {
            var $table = $(this);

            var $button = $("<a download=\"download.csv\" class='btn btn-success'>");
            $button.text("Download Excel");
            $button.insertAfter($('#button-marker'));

            $button.click(function (e) {
                var csv = $table.table2CSV({
                    delivery: 'value'
                });

                var downloadLink = document.createElement("a");
                downloadLink.href = 'data:text/csv;charset=UTF-8,'
                        + encodeURIComponent(csv);
                downloadLink.download = "registry.csv";

                document.body.appendChild(downloadLink);
                downloadLink.click();
                document.body.removeChild(downloadLink);
            });
        });
    })
</script>

<!--<link rel="stylesheet" type="text/css" href="/assets/normalize.css"/>-->
<!--<link rel="stylesheet" type="text/css" href="/assets/demo.css"/>-->
<!--<link rel="stylesheet" type="text/css" href="/assets/component.css"/>-->

<!--<link rel="stylesheet" href="/assets/blue/style.css" type="text/css" id="" media="print, projection, screen">-->
<!--<link rel="stylesheet" href="/assets/navpager.css" type="text/css">-->
<!--<link rel="stylesheet" href="/assets/jquery.tablesorter.pager.css" type="text/css">-->

<!--<script type="text/javascript" src="/assets/jquery-latest.js"></script>-->

<!--<script src="/assets/jquery.stickyheader.js"></script>-->
<!--<script type="text/javascript" src="/assets/jquery.tablesorter.js"></script>-->
<!--<script type="text/javascript" src="/assets/jquery.tablesorter.pager.js"></script>-->

<!--<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js"></script>-->
<!--<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>-->

<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>-->

<!--<script type="text/javascript" id="js">
    $(document).ready(function () {
        // call the tablesorter plugin
        $("table").tablesorter({
            // change the multi sort key from the default shift to alt button
            sortMultiSortKey: 'altKey'
        });
    });
</script>-->

<link rel="stylesheet" type="text/css" href="/assets/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="/assets/dataTables.fixedColumns.css">
<link rel="stylesheet" type="text/css" href="/assets/shCore.css">
<link rel="stylesheet" type="text/css" href="/assets/demo1.css">
<style type="text/css" class="init">

    /* Ensure that the demo table scrolls */
    th, td { white-space: nowrap; }
    div.dataTables_wrapper {
        width: 1140px;
        margin: 0 auto;
    }

</style>
<script type="text/javascript" language="javascript" src="/assets/jquery.js"></script>
<script type="text/javascript" language="javascript" src="/assets/jquery.dataTables.js"></script>
<script type="text/javascript" language="javascript" src="/assets/dataTables.fixedColumns.js"></script>
<script type="text/javascript" language="javascript" src="/assets/shCore.js"></script>
<script type="text/javascript" language="javascript" src="/assets/demo.js"></script>
<script type="text/javascript" language="javascript" class="init">


    $(document).ready(function() {
        // Setup - add a text input to each footer cell
        $('#example tfoot th').each( function () {
            var title = $('#example thead th').eq( $(this).index() ).text();
            $(this).html( '<input type="hidden" placeholder="Search '+title+'" />' );
        } );

        // DataTable
        var table = $('#example').DataTable( {
            scrollY:        "300px",
            scrollX:        true,
            scrollCollapse: true,
            paging:         false
        } );

        // Apply the filter
        table.columns().indexes().each( function (idx) {
            $( 'input', table.column( idx ).footer() ).on( 'keyup change', function () {
                table
                        .column( idx )
                        .search( this.value )
                        .draw();
            } );
        } );

        new $.fn.dataTable.FixedColumns( table );
    } );
</script>

<br/>
<div class="span8" style="font-size: 17px">
  <p style="position: relative;top: 5px; font-weight: bold;font-size: 21px;  width: 600px;">
    Master in Business Administration
  </p>
  Cohort:
  <b style="color: blue">
    <%= params['cohort'] %>
  </b>
  <br/>
  Term:
  <b style="color: blue"><%= params['term'] %></b>
</div>

<a href="../dashboard" class="btn btn-warning" style="margin-top: 80px;margin-left: -620px; width: 70px;">Back</a>

<div id="applicant-detail">
  <div>
  <table id="example" class="stripe row-border order-column" cellspacing="0" width="100%">
    <thead>
    <tr style="background-color: #00228d;color:#ffffff;">
      <th>Name</th>
      <th>SN</th>
      <% if params['term'] == '2' %>
          <th>T1 GPA</th>
          <th>T1 Rank</th>
          <th>T1 Fail</th>
          <th>T2 GPA</th>
          <th>T2 Rank</th>
          <th>T2 Fail</th>
          <th>Y1 GPA</th>
          <th>Y1 RANK</th>
          <th>Y1 FAIL</th>
      <% else %>
          <th>GPA</th>
          <th>Rank</th>
          <th>Fail</th>
      <% end %>
      <th>LT</th>
      <th>Scholar</th>
      <% $stud = Student.where(cohort: params['cohort'] , term: params['term']).first.try(:id) %>
      <% @grade = Grade.where(student_id: $stud) %>
      <% @grade.each do |sub| %>
          <th><%= sub.temporary_subject_code %></th>
      <% end %>
    </tr>
    </thead>

    <tfoot>
    <tr>
      <th>Name</th>
      <th>SN</th>
      <% if params['term'] == '2' %>
          <th>T1 GPA</th>
          <th>T1 Rank</th>
          <th>T1 Fail</th>
          <th>T2 GPA</th>
          <th>T2 Rank</th>
          <th>T2 Fail</th>
          <th>Y1 GPA</th>
          <th>Y1 RANK</th>
          <th>Y1 FAIL</th>
      <% else %>
          <th>GPA</th>
          <th>Rank</th>
          <th>Fail</th>
      <% end %>
      <th>LT</th>
      <th>Scholar</th>
      <% $stud = Student.where(cohort: params['cohort']).first.try(:id) %>
      <% @grade = Grade.where(student_id: $stud) %>
      <% @grade.each do |sub| %>
          <th><%= sub.temporary_subject_code %></th>
      <% end %>
    </tr>
    </tfoot>

     <tbody>
    <% @online_applications.each do |applicant| %>
        <% if applicant.present? %>
            <tr>
              <td><%= link_to applicant.name, applicant, :target => 'new', style: 'color:rgb(0, 34, 141);' %></td>
              <td><%= applicant.number %></td>
              <!--<td><%= applicant.cohort %></td>-->
              <% if params['term'] == '2' %>

                  <td style="text-align: center"> <%= Student.where(name: applicant.name, cohort: applicant.cohort, term: '1').last.try(:gpa) %></td>
                  <td style="text-align: center"> <%= Student.where(name: applicant.name, cohort: applicant.cohort, term: '1').last.try(:rank) %></td>
                  <td style="text-align: center"> <%= $fail = Student.where(name: applicant.name, cohort: applicant.cohort, term: '1').last.try(:fail) %></td>
                  <!--T2-->
                  <td style="width: 60px;text-align: center;"><%= applicant.gpa %></td>
                  <td style="width: 50px;text-align: center;"><%= applicant.rank %></td>
                  <td style="width: 50px;text-align: center;"><%= applicant.fail %></td>
                  <!--end of T2-->
                  <!--Start of Y1-->
                  <td style="text-align: center"><%= applicant.tgpa %></td>
                  <td style="text-align: center"><%= applicant.trank %></td>
                  <td style="text-align: center"><%= $fail.to_i + applicant.fail.to_i %></td>
                  <!--End of Y1-->
              <% else %>
                  <td style="width: 60px;text-align: center;"><%= applicant.gpa %></td>
                  <td style="width: 50px;text-align: center;"><%= applicant.rank %></td>
                  <td style="width: 50px;text-align: center;"><%= applicant.fail %></td>

              <% end %>
              <td style="width: 50px;text-align: center;"><%= applicant.learning_team %></td>
              <!--end of term 2-->
              <td style="width: 65px;text-align: center;"><%= applicant.scholar %></td>

              <% @getgrade = Grade.where(student_id: applicant.id) %>
              <% @getgrade.each do |output| %>
                  <% if output.grade.to_f < 3.0 and !(['Pass', 'Fail'].include?(output.grade))%>
                  <td style="text-align: center; color: #ff0000;font-weight: bold"> <%= output.grade %></td>
                  <% else %>
                  <td style="text-align: center"> <%= output.grade %></td>
                  <% end %>
              <% end %>
            </tr>

        <% end %>
    <% end %>
     </tbody>
    </table>
  </div>
</div>