<%= javascript_include_tag 'table2CSV' %>

<script>
    $(document).ready(function () {
        $('#page-title').text('Application Registry');
        $('#result-table').each(function () {
            var $table = $(this);

            var $button = $("<a download=\"download.csv\" class='btn btn-success'>");
            $button.text("Download Excel");
            $button.insertAfter($('#button-marker'));

            $button.click(function (e) {
                var csv = $table.table2CSV({
                    delivery: 'value'
                });

                var downloadLink = document.createElement("a");
                downloadLink.href = 'data:text/csv;charset=UTF-8,'
                        + encodeURIComponent(csv);
                downloadLink.download = "registry.csv";

                document.body.appendChild(downloadLink);
                downloadLink.click();
                document.body.removeChild(downloadLink);
            });
        });
    })
</script>

<br/>
<div class="alert alert-info row-fluid">
  <div class="span8">
    <p style="position: relative; top: 5px;">Deleted Applications Are Not Included</p>
  </div>
  <div class="span4">
    <span id="button-marker"/>
  </div>

</div>



<div id="applicant-detail">
  <table class="tablesorter" id="TheTable">
    <thead>
    <th>Student Number</th>
    <th>Name</th>
    <!--<th>Cohort</th>-->
    <% if params['term'] == '2' %>
        <th>T1 GPA</th>
        <th>T1 Fail</th>
    <% end %>
    <th>LT</th>
    <th>GPA </th>
    <th>Rank </th>
    <th>Fail </th>
    <th>Scholar </th>
    <% $stud = Student.where(cohort: params['cohort']).first.try(:id) %>
    <% @grade = Grade.where(student_id: $stud) %>
    <% @grade.each do |sub|	  %>
    <th><%= sub.temporary_subject_code  %></th>
    <% end %>
    </thead>
    <% @online_applications.each do |applicant| %>
        <% if applicant.present? %>
            <tr>
              <td><%= applicant.number %></td>
              <td><%=  link_to applicant.name, applicant,:target => 'new'     %></td>
              <!--<td><%= applicant.cohort %></td>-->
              <% if params['term'] == '2' %>

                  <td> <%= Student.where(name: applicant.name , cohort: applicant.cohort ,term: '1' ).last.try(:gpa) %></td>
                  <td> <%= Student.where(name: applicant.name , cohort: applicant.cohort ,term: '1' ).last.try(:fail) %></td>
              <% end  %>
              <td><%= applicant.learning_team %></td>


              <td><%= applicant.gpa %></td>
              <td><%= applicant.rank %></td>
              <td><%= applicant.fail %></td>
              <td><%= applicant.scholar %></td>
            <%	 @getgrade = Grade.where(student_id: applicant.id) %>
              <% @getgrade.each do |output| %>
             <td> <%= output.grade %></td>
              <% end %>
            </tr>

        <% end %>
    <% end %>
  </table>
  <div id="pager" class="pager" style="margin-top: 80px;margin-left: 385px;" >
    <form>
      <img src="/assets/addons/first.png" class="first">
      <img src="/assets/addons/prev.png" class="prev">
      <input type="text" class="pagedisplay">
      <img src="/assets/addons/next.png" class="next">
      <img src="/assets/addons/last.png" class="last">
      <select class="pagesize" style="width: 80px;">
        <option selected="selected" value="10">10</option>
        <option value="15">15</option>
        <!--<option value="30">30</option>-->
        <!--<option value="40">40</option>-->
      </select>
    </form>

  </div>
</div>