<p id="notice"><%= notice %></p>

<p>
  <b>Honors:</b>
  <%= @supplemental_detail.honors %>
</p>

<p>
  <b>Source of funding:</b>
  <%= @supplemental_detail.source_of_funding %>
</p>

<p>
  <b>Civil status:</b>
  <%= @supplemental_detail.civil_status %>
</p>

<p>
  <b>Dual citizenship:</b>
  <%= @supplemental_detail.dual_citizenship %>
</p>

<p>
  <b>Notify name:</b>
  <%= @supplemental_detail.notify_name %>
</p>

<p>
  <b>Notify relationship:</b>
  <%= @supplemental_detail.notify_relationship %>
</p>

<p>
  <b>Notify mobile:</b>
  <%= @supplemental_detail.notify_mobile %>
</p>

<p>
  <b>Notify email:</b>
  <%= @supplemental_detail.notify_email %>
</p>

<p>
  <b>Housing:</b>
  <%= @supplemental_detail.housing %>
</p>

<p>
  <b>Source of information:</b>
  <%= @supplemental_detail.source_of_information %>
</p>

<p>
  <b>Objective:</b>
  <%= @supplemental_detail.objective %>
</p>


<%= link_to 'Edit', edit_supplemental_detail_path(@supplemental_detail) %> |
<%= link_to 'Back', supplemental_details_path %>
