<link rel="stylesheet" href="/assets/blue/style.css" type="text/css" id="" media="print, projection, screen">
<!--<link rel="stylesheet" href="/assets/navpager.css" type="text/css">-->
<link rel="stylesheet" href="/assets/jquery.tablesorter.pager.css" type="text/css">

<script type="text/javascript" src="/assets/jquery-latest.js"></script>
<script type="text/javascript" src="/assets/jquery.tablesorter.js"></script>
<script type="text/javascript" src="/assets/jquery.tablesorter.pager.js"></script>

<!--<script type='text/javascript' src='/assets/navpaging.js'></script>-->
<script type="text/javascript" id="js">$(document).ready(function() {
    // call the tablesorter plugin
    $("table").tablesorter({
        // change the multi sort key from the default shift to alt button
        sortMultiSortKey: 'altKey'
    });
});
</script>
<script type="text/javascript">
    $(function() {
        $("table")

                .tablesorterPager({container: $("#pager")});
    });
</script>
<h1>Listing students</h1>

<table class="tablesorter" id="TheTable" border="1">
  <thead>
    <th>Student Number</th>
    <th>Name</th>
    <th>Cohort</th>
    <th>Learning team</th>
    <th>GPA</th>
    <th>Rank</th>
    <th>Fail</th>
    <th>Scholar</th>
    <!--<th></th>-->
    <!--<th></th>-->
    <!--<th></th>-->
  </thead>

<% @students.each do |student| %>
  <tr>
    <td><%= student.number %></td>
    <td><%=  link_to student.name, student,:target => 'new'     %></td>
    <td><%= student.cohort %></td>
    <td><%= student.learning_team %></td>
    <td><%= student.gpa %></td>
    <td><%= student.rank %></td>
    <td><%= student.fail %></td>
    <td><%= student.scholar %></td>
    <!--<td><%= link_to 'Show', student %></    td>-->
    <!--<td><%= link_to 'Edit', edit_student_path(student) %></td>-->
    <!--<td>//<%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
  </tr>
<% end %>
</table>

<div id="pager" class="pager" style="padding-top: 30px; margin-left: 220px; " >
  <form>
    <img src="/assets/addons/first.png" class="first">
    <img src="/assets/addons/prev.png" class="prev">
    <input type="text" class="pagedisplay">
    <img src="/assets/addons/next.png" class="next">
    <img src="/assets/addons/last.png" class="last">
    <select class="pagesize" style="width: 80px;">
      <option selected="selected" value="15">15</option>
      <option value="10">10</option>
      <!--<option value="30">30</option>-->
      <!--<option value="40">40</option>-->
    </select>
  </form>
  <!--<%= link_to 'New Student', new_student_path %>-->
  <a href="../" >Back</a>
</div>


<div style="padding-top: 30px;">

</div>
