<p id="notice"><%= notice %></p>
<div style="width:900px;margin:0 auto 0 auto;">
  <img src="/images/c<%= @student.cohort %>/<%= @student.number %>.jpg" style="position:relative; margin-left:560px;top: 15px; height: 560px; width: 384px;"/>

  <p style="font-size: 31px; padding-top:20px; margin-top: -560px; padding-bottom: 5px; font-weight: bold; ">

    <%= @student.name %>
  </p>

  <p><b>Term:</b>
    <%= @student.term %>
  </p>
  <p>
    <b>Student Number:</b>
    <%= @student.number %>
  </p>

  <p>
    <b>Cohort:</b>
    <%= @student.cohort %>
  </p>

  <p>
    <b>Learning team:</b>
    <%= @student.learning_team %>
  </p>

  <table class="csstable" style="width: 520px">
    <tr>
      <td>Subject Code</td>
      <td>Subject</td>
      <td>Unit</td>
      <td>Grade</td>
      <td>What if</td>
    </tr>
    <% $count = 0; %>
    <% $divide = 0; %>
    <% @grades.each do |grade| %>
        <% if grade.present? %>
            <% $count = $count + 1 %>
        <% end %>
        <tr>
          <td><%= grade.temporary_subject_code %></td>
          <td>
            <%= Subject.where(subject_code: grade.temporary_subject_code).last.try(:description) %>
          </td>
          <td style="text-align: center">
            <% if grade.units.present? and !(['Pass', 'Fail'].include?(grade.grade))%>
            <% $divide = $divide + grade.units.to_f%>
                <% end %>
            <%= grade.units %>
            <input type="hidden" name="units<%= $count%>" value="<%= grade.units %>" id="units<%= $count%>">
          </td>
          <td style="text-align: center">
            <input type="hidden" name="subject<%= $count %>" value="<%= grade.temporary_subject_code %>" id="subject<%= $count %>">
            <%= grade.grade %>
            <input type="hidden" style="width:50px; height:15px; text-align: center;" class="gradeorig grade-orig<%= $count %>" name="" readonly value="<%= grade.grade %>"/>
          </td>
          <td style="text-align: center">
            <% if grade.grade == 'Pass' or grade.grade == 'Fail' or grade.grade == nil %>
                <input style="width:50px; height:15px; text-align: center;" type="text" name="" class="grade grade-new<%= $count %>" id="grade-new" readonly/>
            <% else %>
                <input style="width:50px; height:15px; text-align: center;" type="text" name="" class="grade grade-new<%= $count %>" id="grade-new"/>
            <% end %>
          </td>
    <% end %>
    <input type="hidden" name="divide" value="<%= $divide %>" id="divide">
    <!-- INSERT SCRIPT HERE -->
    </tr>
    <tr>
      <td style="border: none">&nbsp;</td>
      <td style="font-weight: bold;border: none">Term GPA</td>
      <td border: none>&nbsp;</td>
      <td style="color: #ff0000; text-align: center;">
        <input id="final-orig" style="text-align:center;width:50px; height:15px; color:red; font-weight:bold; background-color:transparent; border: 0px solid;" type="text" readonly/>
      </td>
      <td style="color: #ff0000;text-align: center;">
        <input id="final-new" style="text-align: center;width:50px; height:15px; color:red; font-weight:bold; background-color:transparent; border: 0px solid;" type="text" readonly/>
      </td>
    </tr>
  </table>
  <table width="410px">

  </table>
  <input type="hidden" name="count" value="<%= $count %>" id="count">

</div>
<!---->
<!--= <%= link_to 'Back', students_path %> |-->
<!--= link_to 'Edit', edit_student_path(@student) %> |-->

