<p id="notice"><%= notice %></p>
<!-- FIX THE IMAGE -->
<img src="../../assets/c9/Hou, Yanli.jpg" style="position:relative; top: 40px; margin-left: 480px; height: 500px; width: 300px;"/>
<div style="padding-left: 20px">
  <p style="font-size: 31px; padding-top:20px; margin-top: -500px; padding-bottom: 5px; font-weight: bold; ">
    <%= @student.name %>
  </p>

  <p>
    <b>Number:</b>
    <%= @student.number %>
  </p>

  <p>
    <b>Cohort:</b>
    <%= @student.cohort %>
  </p>

  <p>
    <b>Learning team:</b>
    <%= @student.learning_team %>
  </p>

  <table width="280px">
    <tr style="background-color: rgb(13, 17, 46);">
      <th style="color: #ffffff;">Subject</th>
      <th style="color: #ffffff;">Grade</th>
      <th style="color: #ffffff;">What if</th>
    </tr>
    <% $count = 0; %>
    <% @grades.each do |grade| %>
        <% if grade.present? %>
            <!--<script>alert(<%= $count %>);</script>-->
            <% $count = $count + 1 %>
        <% end %>
        <tr>
          <td><%= grade.temporary_subject_code %></td>
          <% $var = '' %>
          <% if grade.grade == 'Pass' %>
              <% $count -= 1 %>
          <% elsif grade.grade == 'Fail' %>
              <% $count -= 1 %>
          <% else %>
              <% $var = grade.grade %>
          <% end %>
          <!-- NOT YET FLEXIBLE -->

          <td>
            <input type="text" style="width:50px; height:15px; text-align: center;" class="gradeorig grade-orig<%= $count %>" name="" readonly value="<%= grade.grade %>"/>
          </td>
          <!-- PLACE THE LOOP HERE -->
          <td style="padding-left: 25px">
            <input style="width:50px; height:15px; text-align: center;" type="text" name="" class="grade grade-new<%= $count %>" id="grade-new"/>
          </td>
    <% end %>
    <!-- INSERT SCRIPT HERE -->
    </tr>
  </table>
  <table width="290px">
    <tr>
      <td style="font-weight: bold">Term GPA</td>
      <td style="color: #ff0000">
        <input id="final-orig" style="width:50px; height:15px; color:red; font-weight:bold; background-color:transparent; border: 0px solid;" type="text" readonly/>
      </td>
      <td style="color: #ff0000">
        <input id="final-new" style="width:50px; height:15px; color:red; font-weight:bold; background-color:transparent; border: 0px solid;" type="text" readonly/>
      </td>
    </tr>
  </table>
  <input type="hidden" name="count" value="<%= $count %>" id="count">
</div>
<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
