
<p id="notice"><%= notice %></p>
<div style="width:900px;margin:0 auto 0 auto;">
  <img src="/images/c<%= @student.cohort %>/<%= @student.number %>.jpg" style="position:relative; margin-left:560px;top: 15px; height: 560px; width: 384px;"/>
  <p style="font-size: 31px; padding-top:20px; margin-top: -560px; padding-bottom: 5px; font-weight: bold; ">
    <%= @student.name %>
  </p>

  <p>
    <b>Student Number:</b>
    <%= @student.number %>
  </p>

  <p>
    <b>Cohort:</b>
    <%= @student.cohort %>
  </p>

  <p>
    <b>Learning team:</b>
    <%= @student.learning_team %>
  </p>

  <table width="520px">
    <tr style="background-color: rgb(13, 17, 46);">
      <th style="color: #ffffff;">Subject Code</th>
      <th style="color: #ffffff;">Subject</th>
      <th style="color: #ffffff;">Unit</th>
      <th style="color: #ffffff;">Grade</th>
      <th style="color: #ffffff;">What if</th>
    </tr>
    <% $count = 0; %>
    <% $divide = 0; %>
    <% @grades.each do |grade| %>
        <% if grade.present? %>
            <% $count = $count + 1 %>
        <% end %>
        <tr>
          <td><%= grade.temporary_subject_code %></td>
          <% if (grade.temporary_subject_code.present? and !(['Pass', 'Fail'].include?(grade.grade))) %>
              <% if grade.temporary_subject_code == 'LOB' %>
                  <% $divide = $divide + 1.5 %>
              <% elsif grade.temporary_subject_code == 'OM'%>
                  <% $divide = $divide + 2 %>
              <% elsif grade.temporary_subject_code == 'MC'%>
                  <% $divide = $divide + 1.5 %>
              <% elsif grade.temporary_subject_code == 'FM1' %>
                  <% $divide = $divide + 1 %>
              <% elsif grade.temporary_subject_code == 'QA' %>
                  <% $divide = $divide + 2 %>
              <% elsif grade.temporary_subject_code == 'ECON'%>
                  <% $divide = $divide + 2 %>
              <% elsif grade.temporary_subject_code == 'MCP'%>
                  <% $divide = $divide + 2 %>
              <% elsif grade.temporary_subject_code == 'MM' %>
                  <% $divide = $divide + 2.5 %>
              <% elsif grade.temporary_subject_code == 'MPO' %>
                  <% $divide = $divide + 2 %>
              <% elsif grade.temporary_subject_code == 'BIZNET'%>
                  <% $divide = $divide + 0 %>
              <% elsif grade.temporary_subject_code == 'MOL'  %>
                  <% $divide = $divide + 0 %>
              <% end %>
          <% end %>
          <td>
            Managing People in Organizations
          </td>
          <td>
            <center>1.5</center>
          </td>
          <td style="text-align: center">
            <input type="hidden" name="subject<%= $count %>" value="<%= grade.temporary_subject_code %>" id="subject<%= $count %>">
            <input type="text" style="width:50px; height:15px; text-align: center;" class="gradeorig grade-orig<%= $count %>" name="" readonly value="<%= grade.grade %>"/>
          </td>
          <td style="text-align: center">
            <% if grade.grade == 'Pass' or grade.grade == 'Fail' or grade.grade == nil %>
                <input style="width:50px; height:15px; text-align: center;" type="text" name="" class="grade grade-new<%= $count %>" id="grade-new" readonly/>
            <% else %>
                <input style="width:50px; height:15px; text-align: center;" type="text" name="" class="grade grade-new<%= $count %>" id="grade-new"/>
            <% end %>
          </td>
    <% end %>
    <input type="hidden" name="divide" value="<%= $divide %>" id="divide">
    <!-- INSERT SCRIPT HERE -->
    </tr>
  </table>
  <table width="410px">
    <tr>
      <td>&nbsp;</td>
      <td style="font-weight: bold">Term GPA</td>
      <td style="color: #ff0000">
        <input id="final-orig" style="width:50px; height:15px; color:red; font-weight:bold; background-color:transparent; border: 0px solid;" type="text" readonly/>
      </td>
      <td style="color: #ff0000">
        <input id="final-new" style="width:50px; height:15px; color:red; font-weight:bold; background-color:transparent; border: 0px solid;" type="text" readonly/>
      </td>
    </tr>
  </table>
  <input type="hidden" name="count" value="<%= $count %>" id="count">

</div>
<!---->
<!--= <%= link_to 'Back', students_path %> |-->
<!--= link_to 'Edit', edit_student_path(@student) %> |-->

