<h1>Listing termunits</h1>

<table>
  <tr>
    <th>Cohort</th>
    <th>Term</th>
    <th>Units</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @termunits.each do |termunit| %>
  <tr>
    <td><%= termunit.cohort %></td>
    <td><%= termunit.term %></td>
    <td><%= termunit.units %></td>
    <td><%= link_to 'Show', termunit %></td>
    <td><%= link_to 'Edit', edit_termunit_path(termunit) %></td>
    <td><%= link_to 'Destroy', termunit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Termunit', new_termunit_path %>
