<p>
  <b>Last school name:</b>
  <%= @online_application_form.education_detail.last_school_name %>
</p>

<p>
  <b>Last school course title:</b>
  <%= @online_application_form.education_detail.last_school_course_title %>
</p>

<p>
  <b>Last school degree:</b>
  <%= @online_application_form.education_detail.last_school_degree %>
</p>

<p>
  <b>Last school address:</b>
  <%= @online_application_form.education_detail.last_school_address %>
</p>

<p>
  <b>Last school commencement date:</b>
  <%= @online_application_form.education_detail.last_school_commencement_date %>
</p>

<p>
  <b>Last school end date:</b>
  <%= @online_application_form.education_detail.last_school_end_date %>
</p>

<p>
  <b>Highest school name:</b>
  <%= @online_application_form.education_detail.highest_school_name %>
</p>

<p>
  <b>Highest school course title:</b>
  <%= @online_application_form.education_detail.highest_school_course_title %>
</p>

<p>
  <b>Highest school degree:</b>
  <%= @online_application_form.education_detail.highest_school_degree %>
</p>

<p>
  <b>Highest school address:</b>
  <%= @online_application_form.education_detail.highest_school_address %>
</p>

<p>
  <b>Highest school commencement date:</b>
  <%= @online_application_form.education_detail.highest_school_commencement_date %>
</p>

<p>
  <b>Highest school end date:</b>
  <%= @online_application_form.education_detail.highest_school_end_date %>
</p>