<p>
  <b>Company name:</b>
  <%= @online_application_form.employment_detail.company_name %>
</p>

<p>
  <b>Work address:</b>
  <%= @online_application_form.employment_detail.work_address %>
</p>

<p>
  <b>Work phone:</b>
  <%= @online_application_form.employment_detail.work_phone %>
</p>

<p>
  <b>Work industry:</b>
  <%= @online_application_form.employment_detail.work_industry %>
</p>

<p>
  <b>Company type:</b>
  <%= @online_application_form.employment_detail.company_type %>
</p>

<p>
  <b>Company position:</b>
  <%= @online_application_form.employment_detail.company_position %>
</p>

<p>
  <b>Position level:</b>
  <%= @online_application_form.employment_detail.position_level %>
</p>

<p>
  <b>Work job responsibilities:</b>
  <%= @online_application_form.employment_detail.work_job_responsibilities %>
</p>

<p>
  <b>Date hired:</b>
  <%= @online_application_form.employment_detail.date_hired %>
</p>

<p>
  <b>Date fired:</b>
  <%= @online_application_form.employment_detail.date_fired %>
</p>

<p>
  <b>Manager exp years:</b>
  <%= @online_application_form.employment_detail.manager_exp_years %>
</p>

<p>
  <b>Years work experience:</b>
  <%= @online_application_form.employment_detail.years_work_experience %>
</p>