<p>
  <b>First name:</b>
  <%= @online_application_form.personal_detail.first_name %>
</p>

<p>
  <b>Middle name:</b>
  <%= @online_application_form.personal_detail.middle_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @online_application_form.personal_detail.last_name %>
</p>

<p>
  <b>Gender:</b>
  <%= @online_application_form.personal_detail.gender %>
</p>

<p>
  <b>Dob:</b>
  <%= @online_application_form.personal_detail.dob %>
</p>

<p>
  <b>Citizenship:</b>
  <%= @online_application_form.personal_detail.citizenship %>
</p>

<p>
  <b>Civil status:</b>
  <%= @online_application_form.personal_detail.civil_status %>
</p>

<p>
  <b>Medications:</b>
  <%= @online_application_form.personal_detail.medications %>
</p>

<p>
  <b>Address 1:</b>
  <%= @online_application_form.personal_detail.address_1 %>
</p>

<p>
  <b>Address 2:</b>
  <%= @online_application_form.personal_detail.address_2 %>
</p>

<p>
  <b>City:</b>
  <%= @online_application_form.personal_detail.city %>
</p>

<p>
  <b>Address state:</b>
  <%= @online_application_form.personal_detail.address_state %>
</p>

<p>
  <b>Address country:</b>
  <%= @online_application_form.personal_detail.address_country %>
</p>

<p>
  <b>Address post code:</b>
  <%= @online_application_form.personal_detail.address_post_code %>
</p>

<p>
  <b>Email:</b>
  <%= @online_application_form.personal_detail.email %>
</p>

<p>
  <b>Home phone:</b>
  <%= @online_application_form.personal_detail.home_phone %>
</p>

<p>
  <b>Cell phone:</b>
  <%= @online_application_form.personal_detail.cell_phone %>
</p>