<table width="750" border="1" cellpadding="0" cellspacing="0" style="font-family: arial,sans-serif;
        font-size:13px;
        border-width: 1px;
        border-color: #000;
        border-collapse: collapse;">
  <tr>
    <td style="width:400px; font-weight:bold; background:#DEB887;" colspan="6">PERSONAL INFORMATION</td>
  </tr>
  <tr>
    <td valign="top" colspan="2" style="height:40px; font-weight:bold;">
      First Name: <p class="form-detail"><%= @online_application_form.personal_detail.first_name %></p>
    </td>
    <td valign="top" colspan="2" style="font-weight:bold;">
      Middle Name: <p class="form-detail"><%= @online_application_form.personal_detail.middle_name %></p>
    </td>
    <td valign="top" colspan="2" style="font-weight:bold;">
      Last Name: <p class="form-detail"><%= @online_application_form.personal_detail.last_name %></p>
    </td>
  </tr>
  <tr>
    <td colspan="6">&nbsp;</td>
  </tr>
</table>
<table width="750" border="1" cellpadding="0" cellspacing="0" style="font-family: arial,sans-serif;
        font-size:13px;
        border-width: 1px;
        border-color: #000;
        border-collapse: collapse;">
  <tr>

    <td width="127" valign="top" style="height:40px;font-weight:bold;">Birthdate:
      <p class="form-detail"><%= @online_application_form.personal_detail.dob %></p></td>
    <td width="104" valign="top" style="font-weight:bold;">Age: <p class="form-detail"><%= (DateTime.now - @online_application_form.personal_detail.dob).to_i / 365 if @online_application_form.personal_detail.dob.present? %></p></td>
    <td width="153" valign="top" style="font-weight:bold;">Citizenship1:
      <p class="form-detail"><%= @online_application_form.personal_detail.citizenship %></p></td>
    <td width="152" valign="top" style="font-weight:bold;">Citizenship2:</td>
    <td width="102" valign="top" style="font-weight:bold;">Gender:
      <p class="form-detail"><%= @online_application_form.personal_detail.gender %></p></td>
    <td width="198" valign="top" style="font-weight:bold;">Civil Status:
      <p class="form-detail"><%= @online_application_form.personal_detail.civil_status %></p></td>
  </tr>
  <tr>
    <td colspan="6">&nbsp;</td>
  </tr>
</table>
<TABLE width="750" border="1" cellpadding="0" cellspacing="0" style="font-family: arial,sans-serif;
        font-size:13px;
        border-width: 1px;
        border-color: #000;
        border-collapse: collapse;">
  <tr>
    <td height="31" valign="top" style="font-weight:bold;">Phone:
      <p class="form-detail"><%= @online_application_form.personal_detail.home_phone %></p></td>
    <td colspan="2" valign="top" style="font-weight:bold;">Mobile:
      <p class="form-detail"><%= @online_application_form.personal_detail.cell_phone %></p></td>
    <td colspan="3" valign="top" style="font-weight:bold;">Email:
      <p class="form-detail"><%= @online_application_form.personal_detail.email %></p></td>
  </tr>
  <tr>
    <td height="39" valign="top" colspan="6" style="font-weight:bold;">
      Address:
      <p class="form-detail">
        <%= @online_application_form.personal_detail.address_1 %><br/>
        <%= @online_application_form.personal_detail.address_2 %><br/>
        <%= @online_application_form.personal_detail.city %> <%= @online_application_form.personal_detail.address_state %> <%= @online_application_form.personal_detail.address_post_code %><br/>
        <%= @online_application_form.personal_detail.address_country %>
      </p>
    </td>
  </tr>
</table>
